@import url('https://fonts.googleapis.com/css2?family=Antonio&family=League+Spartan:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Antonio', 'sans-serif';
    font-family: 'Spartan League', 'sans-serif';
}

body {
    width: 100%;
    height: 100vh;
}

img {
    margin: 0 !;
}